// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
:focus-visible {
  outline-color: transparent;
}
a {
  text-decoration: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow: overlay;
}

.el-button + a,
a + .el-button {
  margin-left: 12px;
}

.el-form-item .el-form-item__label {
  align-items: center;
}

:root {
  --bgc: var(--gray-9);
}

.bs-s {
  box-shadow: 0 2px 8px var(--gray-3);
}

.bs-m {
  box-shadow: 0 2px 16px var(--gray-5);
}

.bs-l {
  box-shadow: 0 2px 24px var(--gray-6);
}

.el-form--inline .el-form-item__content {
  & > .el-select,
  & > .el-input {
    width: 200px;
  }
}
