/* @import '@/assets/iconfont/iconfont.css'; */
@import '//at.alicdn.com/t/c/font_3942014_b3iqgz7lxa.css';
body {
  margin: 0;
}
:focus-visible {
  outline-color: transparent;
}
a {
  text-decoration: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.iconfont {
  font-size: inherit;
}
/* iconfont symbol模式 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  overflow: overlay;
}
